<div class="ml-10 shadow-2xl rounded-md w-3/6 bg-white py-5 px-5 bg-white mb-5">
    <div class="text-xl text-blue-500 font-bold">
        {{email}}
    </div>
    <div class="text-sm text-slate-900">
        {{message}}
    </div>
    <div class="flex justify-end text-slate-400 text-xs">
        {{createdAt}}
    </div>
</div>